* CSS do Contato */
.form-container {
    text-align: center;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  background-color: #f2f2f2;
  font-size: 16px;
  height: 10px; /* altura da caixa de texto */
}
button[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #c058f5;
    cursor: pointer;
    
  }
  